/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

button {
  color: #00cdce;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid black;
  padding: 7px 18px;
  background-color: black;
  display: inline-block;
}

h2 {
  margin-bottom: 2.8rem;
  color: black;
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
}

/* HEADER */
header {
  background-color: rgba(25, 25, 25, 0.8);
  padding: 5px 12px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 3.5rem;
  color: white;
  text-decoration: none;
}

.header__content span {
  color: #00cdce;
}

.header__navbar {
  margin-top: 6px;
}

.header__navbar ul {
  list-style: none;
}

.header__navbar li {
  display: inline;
  margin: 0 16px;
}

.header__navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 15px;
  border-bottom: 2px solid white;
  line-height: 20px;
  transition: all 0.5s;
}

.header__navbar a:hover {
  color: #00cdce;
  border-bottom: 2px solid rgba(12, 11, 11, 0);
}
/* SLIDER */
.slider__content {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slide__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.slide__info h4 {
  font-size: 3.75rem;
  font-weight: 900;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.slide__info p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #d3d8d8;
  line-height: 35px;
}

.rslides_nav {
  position: absolute;
  top: 48%;
  width: 64px;
  height: 64px;
  overflow: hidden;
  text-indent: -9999px;
  text-decoration: none;
  opacity: 0.7;
  z-index: 3;
}

.rslides_nav.prev {
  left: 40px;
  right: auto;
  background: url(../images/left-arrow.png) no-repeat 0px 0px;
}

.rslides_nav.next {
  right: 40px;
  left: auto;
  background: url(../images/right-arrow.png) no-repeat 0px 0px;
}

.rslides_tabs {
  list-style: none;
  position: absolute;
  top: 80%;
  left: 45%;
  z-index: 10;
  text-align: center;
}

.rslides_tabs li {
  display: inline;
  margin: 0 7px;
}

.rslides_tabs a {
  visibility: hidden;
}

.rslides_tabs a::after {
  content: "/f111";
  font-size: 0;
  visibility: visible;
  width: 12px;
  height: 12px;
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 50%;
}

.rslides_here a::after {
  background: black;
}

/* ABOUT */
/* STATS */
/* EVENT */
/* PLAY */
/* GALLERY */
/* SUBCRIBE */
/* TEAM */
/* CONTACT */
/* FOOTER */
